.p-fluid .p-dropdown {
  text-align: left;
}
body .p-dropdown .p-dropdown-trigger,
body .p-multiselect .p-multiselect-trigger {
  background-color: transparent;
}
body .p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: #ffffff;
  color: #333333;
}
body .p-datatable .p-datatable-tbody > tr:nth-child(even).p-highlight {
  background-color: #f9f9f9;
  color: #333333;
}
body .p-datatable .p-datatable-tbody > tr.p-highlight:hover,
body .p-datatable .p-datatable-tbody > tr:nth-child(even).p-highlight:hover {
  cursor: pointer;
  background-color: #eaeaea;
  color: #333333;
}
body .p-inputtext,
body .p-component,
body .p-datatable .p-editable-column input {
  font-size: 12px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
body .p-checkbox .p-checkbox-box {
  width: 15px;
  height: 15px;
}
body .p-checkbox {
  width: 15px;
  height: 15px;
}
body .p-checkbox .p-checkbox-box .p-checkbox-icon {
  font-size: 13px;
}
.p-selection-column {
  text-align: center;
}
body .p-datatable .p-datatable-thead > tr > th {
  padding: 4px 0.5em;
}
body .p-button.p-button-text-only .p-button-text {
  padding: 0.429em 0.3em;
}
body .p-datatable .p-datatable-header,
body .p-datatable .p-datatable-footer {
  padding: 8px;
}
body .p-button.p-button-icon-only {
  width: 1.8em;
}
body .p-button.p-button-icon-only .p-button-text {
  padding: 0.2em;
}
.p-contextmenu {
  text-align: left;
  width: 15em;
}
.p-contextmenu .p-submenu-list {
  width: 16em;
}
.margin-right {
  margin-right: 4px;
}
.margin-bot {
  margin-bottom: 4px;
}
.margin-left {
  margin-left: 4px;
}
.margin-top {
  margin-top: 4px;
}
.ql-toolbar.ql-snow {
  padding: 4px;
}

.version {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 9pt;
  color: gray;
}

tr.r-deleted,
tr.r-deleted:hover {
  background: darkgray !important;
  color: grey !important;
}

.r-new > td > button,
.r-new > td > button:hover,
.r-new > td > div.p-checkbox.p-component,
.r-new > td > div.p-checkbox.p-component:hover .r-deleted > td > button,
.r-deleted > td > button:hover,
.r-deleted > td > div.p-checkbox.p-component,
.r-deleted > td > div.p-checkbox.p-component:hover {
  display: none;
}
.r-new {
  background-color: #d4ecff !important;
  color: #333333 !important;
}
.r-new:hover {
  background-color: #bfe3ff !important;
}
.icon-loading {
  position: absolute !important;
  left: -0.429em;
  top: -0.17em;
  font-size: 1.9em !important;
}
.color-green {
  color: #48c774 !important;
}
.color-red {
  color: #ff3860 !important;
}

.p-column-filter {
  display: block;
}
.p-column-filter input {
  width: 100%;
}
.text-center {
  width: 100%;
  padding: 0 0 4px 0;
  text-align: center;
  font-size: 20pt;
}
.has-changed {
  font-weight: 700;
  color: #41b783;
}
.margin-right {
  margin-right: 4px !important;
}
.margin-bot {
  margin-bottom: 4px !important;
}
.margin-left {
  margin-left: 4px !important;
}
.margin-top {
  margin-top: 4px !important;
}
p {
  margin: 0;
}
.r-hide {
  visibility: collapse !important;
}